html {
    font-size: 62.58%;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

#root,
body {
    max-width: 1400px;
}

body {
    padding: 6.8rem 8rem;
    padding-bottom: 0 !important;
    background-color: #1e1d47;
    font-family: 'Work Sans', sans-serif;
}

ul {
    list-style-type: none;
}

a {
    text-decoration: none;
}

input,
button,
input:focus,
button:focus {
    border: none;
    outline: none;
}

button {
    cursor: pointer;
}

.spaceTxt {
    font-family: 'Space Grotesk', sans-serif;
}

.btnPrimary {
    padding: 1rem;
    border: 1px solid #ffffff;
    border-radius: 10px;
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 134.3%;
    text-transform: capitalize;
    color: #ffffff;
    margin-right: 2rem;
    background: transparent;
    transition: all 0.4s;
}

.btnPrimary:hover {
    border: 1px solid #1b39a6;
    background: #1b39a6;
}

@media only screen and (max-width: 600px) {
    body {
        padding: 3.1rem 2rem;
        padding-bottom: 0 !important;
        overflow-x: hidden;
    }
    .btnPrimary {
        padding: 1rem;
        border-radius: 10px;
        font-size: 1.4rem;
        margin-right: 1.8rem;
        /* border: none; */
    }
}