.faq {
    width: 48%;
    margin-bottom: 6rem;
}

.faq h3 {
    display: flex;
    justify-content: space-between;
    align-items: center;
    font-style: normal;
    font-weight: 600;
    font-size: 1.6rem;
    line-height: 134.3%;
    text-transform: capitalize;
    color: #ffffff;
    padding-bottom: 1.4rem;
}

.opened {
    border: none;
}

.closed {
    border-bottom: 1px solid #383838;
}

.faq ol li {
    /* margin-top: 1.2rem; */
    font-style: normal;
    font-weight: 400;
    font-size: 14px;
    line-height: 134.3%;
    /* or 19px */
    text-transform: capitalize;
    color: #ffffff;
}