.faqSection {
    padding-top: 6.1rem;
    padding-bottom: 6.8rem;
}

.faqss {
    display: grid;
    grid-template-columns: 1fr 1fr;
    column-gap: 2rem;
}

@media only screen and (max-width: 600px) {
    .faqss {
        grid-template-columns: 1fr;
        column-gap: 0;
    }
}