.trendColl2 {
    margin-bottom: 8rem;
}

.trending2Head {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.trending2Head button {
    height: fit-content;
}

.collectionContainer {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    column-gap: 5.6rem;
}