.trendColl1 {
    margin-bottom: 8rem;
}

.collNav {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 4.4rem;
}

.collFilter {
    display: flex;
    align-items: center;
}

.cryptoBtns {
    display: flex;
    align-items: center;
}

.activeCryptoFilter {
    padding: 1rem;
    background: #1f294b;
    border-radius: 1rem;
    font-style: normal;
    font-weight: 400;
    font-size: 1.6rem;
    line-height: 134.3%;
    text-transform: capitalize;
    color: #4e4bde;
    margin-right: 1.2rem;
}

.cryptoBtn {
    padding: 1rem;
    display: flex;
    justify-content: space-between;
    align-items: center;
    font-style: normal;
    font-weight: 400;
    font-size: 1.6rem;
    line-height: 134.3%;
    color: #ffffff;
    margin-right: 1.5rem;
    background: transparent;
}

.cryptoBtn img {
    margin-left: 1rem;
}

.moreBtn {
    margin-right: 0 !important;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.moreBtn img {
    margin-left: 0.8rem;
}

.collectionItems {
    display: flex;
    flex-wrap: wrap;
    gap: 2rem;
}